@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
:root{
    --font: 'charmonman', cursive ;
    
}*{
    margin: 0%;
    padding: 0%;
}
body{  /* geral */
    

    background:rgba(195, 74, 128, 0.71) url('../background/pexels-ylanite-koppens-776635.jpg') bottom left no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    color: black;
    background-attachment:fixed;
    
   
  
}header{
    margin-top: 0px;
    padding-top: 20px;
    height: 150px;
    margin-bottom: 1px;
    background-color: rgba(179, 13, 91, 0.721);
    text-align: center;
    font-family: var(--font);
    font-size: 1.5em;
    line-height: 2em;
    
}p.link{
    display: block;
    text-align: center;
}a{
    display: inline-block;
    padding: 0px 10px 0px 10px ;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    background-color: rgba(220, 20, 60, 0.427);
    border-radius: 30px;
}.link > a:hover{
    background-color: rgba(220, 20, 60, 0.192);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.452) ;
    animation: botao 0.2s  linear forwards;
   

}@keyframes botao{
 0%{
        transform: scale(0.9);
        transform: translate(-2px ,1px);
    }
100%{
        transform: scale(1);
    }
}main{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 700px;
    min-height: 70vh;
    background-color:rgba(179, 13, 91, 0.721) ;
    box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.338);
    

}.ola{
    margin-top:-30px;
    font-size: 2em;

}div.imagen{
    
    background-image:url('../background/menina.PNG');
    background-size: cover;
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    margin: auto;
    height:150px;
    width: 250px;
    
}.msg{
    font-family: cursive;
    font-size: 1.3em;
    padding: 10px 10px 0px 10px;
    background-color: aliceblue;
    max-width: 550px;
    border-radius: 15px;
    margin: auto;

}main{
    border-radius: 5%;
}.obg{
    display: block;
    padding-bottom: 15px;
}footer{
    margin-top: 1px;
    background-color: rgba(179, 13, 91, 0.721);
    text-align: center;
    font: normal bold 2em small-caps;
}
