:root{
    --font: 'charmonman', cursive ;
    
}
body{  /* geral */
    background-image:url('../background/pexels-ylanite-koppens-776635.jpg');
    background-color: rgba(255, 255, 255, 0.941);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top ;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    color: black;
    background-attachment: fixed;
    margin: 0px;
    
   
  
}header{
    background-color: rgba(179, 13, 91, 0.721);
    padding-top: 1px;
   
    
}