#vamos{
    display: block;
    margin-top: -30px;
}

table#sorteados{
    margin: auto;
    width: 400px;
    height: 250px;
    border: 0.5px solid ;
    border-collapse: collapse;
    font-size: 1.3em;
    background-color: rgba(240, 248, 255, 0.724);
    box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.818);
   
}

.ganhador,.no,.tel,.premio{
    border:0.5px solid black;
    
    
}