#vamos{
    display: block;
    margin-top: -30px;
}

table#sorteados{
    margin: auto;
    width: 550px;
    height: 250px;
    border: 0.5px solid ;
    border-collapse: collapse;
    font-size: 1.3em;
    background-color: rgba(240, 248, 255, 0.724);
    box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.818);
   
}

.ganhador,.no,.tel,.premio{
    border:0.5px solid black;
    
    
}div#btnsorte > input{
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px 2px 0px 2px ;
    background-color: rgb(220, 20, 60);
    border-radius: 10px;
    border: 1px transparent ;
    font-size: 1.5em;
    box-shadow: 1px 1px 5px 0px ;
}div#btnsorte> input:hover{
    
    background-color:rgb(220, 20, 60);
    box-shadow: 0px 0px 10px 1px ;

}